# .gitignore
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
venv/
ENV/
env/

# Project Specifics
.env
*.session
*.session-journal
bot_workspace/
.baziliksina/
*.db
*.db-wal
*.db-shm

# Log files
*.log

# OS specifics
.DS_Store
Thumbs.db
